/**=======HEAD STYLE============ */
.head{

    background-color: rgb(206, 139, 44);
    padding: 10px 0;
    color: #fff;
}

.head i {

    margin-right: 10px;


}

.head label {

    margin-right: 30px;
    font-size: 13px;
}
/**=======HEAD STYLE END=========== */

/**=======Search STYLE START=========== */
.search .container .REspon {
 
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px , 1fr));
   
    gap:1rem;

}

.search{

    padding: 20px 0;

}



.logo_immg{

    width: 200px;
    height: 80px;
    object-fit: cover;

}
.logo_immg img{

  width:100%;
  height:100%;
  border-radius: 20px;
  object-fit: cover ;
 

}



.search-box {

    
    border: 2px solid rgba( 0, 0, 0, 0.1);
    border-radius:50px;

}

.search-box i {
  
        width: 17%;
        font-size: 20px;
        opacity: 0.3;
        padding: 28px 11px;
        font-size: 17px;
    
}

.search-box input{

    padding: 2px 0;
    width: 128%;
    text-align: center;
}
::placeholder {

    font-size: 14px;
    color: rgb(206, 139, 23);
    text-align: center;
}
.search-box span{

    opacity: 0.4;
    border-left: 2px solid rgba(0 , 0 , 0 , 0.1);
    text-align: center;
    font-size:13px;
    padding: 22px;

}

.cart {

    position: relative;
    text-align: right;
    text-align: end;

}
.search .cart span {


    position: absolute;
    top:-10px;
    right:0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(206, 139, 23);
    
    font-size : 12px;
    color:#fff;

}

.search .f_flex  {

    justify-content: end;

}

.icon-circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #f3f5f9;
    margin-left: 10px;
    text-align: center;
    border-radius: 50%;

}
.catgories{

    padding: 0 30px;
    border-radius: 5px;
    height: 7vh;
    margin-top: 5px;
    background-color: #f3f5f9;

}

.catgories span{

    margin-right: 20px;
    font-size: 30px;
    margin-top:4px;

}

.catgories h4{

    font-weight: 600;
    margin-top:10px;
}

.catgories h4 i {

    margin-left: 10px;

}

header {

    height: 8vh;
    box-shadow: -1px 15px 15px -9px rgba(250, 217, 97, 0.468);

}

header ul {

    line-height: 8vh;
}

header ul li {

    margin-left: 30px;

}

header ul li a {

    transition: 0.5s;
    font-size: 15px;
    font-weight:400;

}

header ul li a:hover {

    color: rgb(206, 139, 23);

}

.open {

    display: none;
}

.search.active{

    height: 12vh;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    box-shadow: -1px 11px 24px -11px rgba(0 , 0 , 0 , 0.2);
    transition: 0.5s;

}

@media (max-width:1200px){

    .search .container .REspon {
 
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(400px , 1fr));
       
        gap:1rem;
    
    }

    .cart {

        position: relative;
        text-align: right;
        text-align: end;
    
    }
   
    

    .search-box{

    max-width: 100%;

    }
    
      



}
/*
@media (max-width:1990px){


    .toggle{


        display: none ;
    }
}
*/
.fa-xll {
    font-size: 1.2em !important;
    line-height: 40px !important;
    vertical-align: -0.125em !important;
}
@media (max-width:768px) {

    .logo_immg{

        width: 200px;
        height: 80px;
        object-fit: cover ;
        text-align: center;
        margin: auto;
    
    }

    

    header ul{

        padding-top: 30px;
    }

    .nav-links-MobileMenu {
    position: absolute;
    display: block;
    list-style-type: none;
    left: 0;
    top: 0;
    transition: 0.5s;
    width: 60%;
    height: 100vh;
    background-color: #fff;
    z-index: 888;
    box-shadow: rgba( 50, 50, 93, 0.23)
    0 50px 100px -20px, rgba( 0, 0, 0, 0.3)
    0 30px 60px -30px
    
    ;

   }   

   header ul li {

    width: 100%;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
    line-height: 70px;

   }

   header .links {

    display: none;
   }
   .close,
   .open {

    position: absolute;
    top: 35px;
    right: 20px;
    color: rgb(206, 139, 23);
    display: block;
    font-size:25px;
    z-index: 999;

   }
   
   .open{

    top:18%;
    right:30px;
   
   }
   .close {

    right: 45%;

   }
   .close .home-btn {

    background: linear-gradient(145deg , #e2e8ec, #ffffff);
    color: rgb(206, 139, 23);
    border-radius: 50%;
    padding: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
   }
   






}




/**=======Search STYLE END=========== */
